:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}

.logo {
    img {
        width: 100px;
    }

    margin-bottom: 20px;
}

.course {
    img {
        width: 500px;
    }
}